#status_list {
	position: absolute;
	left   : 1;
	bottom : 1%;
	width  : 0.0%;
	opacity: 0.0;
}

.status {
	padding: 1px;
	margin: 0.3em;
}

.status_inner {
	padding: 1px;
}

.status_val {
	height : 0.5em;
}