@font-face {
    font-family: bankgothic;
    src: url('../fonts/bankgothic.ttf');
}

@font-face {
    font-family: 'arial';
    src: url('../fonts/arial.ttf');
}

.menu {
    background-color: rgba(0, 0, 0, 0.863);
    border-radius: 7px;
    font-family: arial;
    min-width: 365px;
    color: #FE2041;
    box-shadow: 0px 0px 50px 0px #000;
    position: absolute;
    font-size: 14.5px;
}

.menu.align-left {
    left: 40;
    top: 50%;
    transform: translate(0, -50%);
}

.menu.align-top-left {
    left: 40;
    top: 40;
}

.menu.align-top {
    left: 50%;
    top: 40;
    transform: translate(-50%, 0);
}

.menu.align-top-right {
    right: 10;
    top: 40;
}

.menu.align-right {
    right: 40;
    top: 50%;
    transform: translate(0, -50%);
}

.menu.align-bottom-right {
    right: 50;
    bottom: 100;
}

.menu.align-bottom {
    left: 50%;
    bottom: 40;
    transform: translate(-50%, 0);
}

.menu.align-bottom-left {
    left: 40;
    bottom: 55;
}

.menu.align-center {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.menu .head {
    background: url('https://i.imgur.com/sWRATCx.png');
    background-size: cover;
    height: 67px;
    vertical-align: middle;
    border-radius: 7px 7px 0px 0px;
    font-family: bankgothic;
}

.menu .headdescription {
    background: url('https://i.imgur.com/sWRATCx.png');
    background-size: cover;
    vertical-align: middle;
    font-family: bankgothic;
    margin: -5px;
    padding: 5px;
}

.menu .headtitle {
    color: rgb(0, 0, 0);
    text-align: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 55%;
    transform: translateY(-50%);
    font-size: 18px;
}

.menu .headimageleft {
    position: absolute;
    top: -33;
    right: 105;
    height: 60px;
}

.menu .headimageright {
    position: absolute;
    top: -25;
    right: -22;
    height: 50px;
}

.menu .menu-items {
    max-height: 600px;
    overflow-y: hidden;
    border-radius: 0px 0px 7px 7px;
}

.menu .menu-items .menu-item {
    height: 10px;
    -box-shadow: inset 1px 0px 0px 1px rgba(0, 0, 0, 0.6);
    height: 25px;
    line-height: 32px;
    color: #ffffff;
    text-align: center;
    padding-left: 10px;
    vertical-align: middle;
}

.menu .menu-items .menu-item.selected {
    background-color: rgba(148, 148, 148, 0.467);
    color: rgb(255, 255, 255);
}

.menu .menu-description:not(:empty) {
    max-width: 400px;
    word-wrap: break-word;
    color: rgb(255, 255, 255);
    margin: 5px;
    text-align: justify;
}

.ItemImage {
    max-height: 30px;
    max-width: 40px;
    margin-right: 10px;
    vertical-align: middle;
}

.bar {
    background-color: rgba(227, 17, 17, 0.23);
    height: 11px;
}

.bar_value {
    background-color: rgb(227, 17, 17);
    height: 10px;
    position: relative;
}